{% load static %}
<!DOCTYPE html>
<html>

<head>

    <title>About Us</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'ESL\css\Contact_Us.css' %}">
</head>

<body>

	<div class ="main-container">
		<div class="heading">
			<h1>About Us</h1>
		</div>

      <div class="sub-container">

   <div class="members">

   	 <img src="{% static 'ESL\images\avatar-dhg.png' %}" height="178" width="178">
   	 	<div class="name">vishnu</div>
   	 	<div class="mail">vishnu.k18@iiits.in</div>
   	 	<div class="desc">

   	 		<p></p>

          </div>
          <div class="social-media">
          	<a href="{% url 'ESL-home2' %}" ><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
           </div>

      </div>

      <div class="members">
   	 <img src="{% static 'ESL\images\p1.jpg' %}" height="178" width="178">
   	 	<div class="name">Krishna kanth</div>
   	 	<div class="mail">krishna.18@iiits.in</div>
   	 	<div class="desc">

   	 		<p></p>

          </div>
          <div class="social-media">
          	<a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
           </div>

      </div>

      <div class="members">
   	 <img src="{% static 'ESL\images\p2.jpg' %}" height="178" width="178">
   	 	<div class="name">wilson</div>
   	 	<div class="mail">wilson.17@iiits.in</div>
   	 	<div class="desc">

   	 		<p></p>

          </div>
          <div class="social-media">
          	<a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
           </div>

      </div>

      <div class="members">
   	 <img src="{% static 'ESL\images\p3.jfif' %}" height="178" width="178">
   	 	<div class="name">Deepak</div>
   	 	<div class="mail">deepak.17@iiits.in</div>
   	 	<div class="desc">

   	 		<p></p>

          </div>
          <div class="social-media">
          	<a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
           </div>

      </div>


    <div class="members">
   	 <img src="{% static 'ESL\images\p5.jfif' %}" height="178" width="178">
   	 	<div class="name">praneeth</div>
   	 	<div class="mail">praneeth.p18@iiits.in</div>
   	 <div class="desc">

   	 		<p></p>

          </div>
          <div class="social-media">
          	<a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
           </div>

      </div>


      <div class="members">
   	 <img src="{% static 'ESL\images\p4.jpg' %}" height="178" width="178">
   	 	<div class="name">kalasagar</div>
   	 	<div class="mail">kalasagar.p18@iiits.in</div>
   	 	<div class="desc">

   	 		<p></p>

          </div>
          <div class="social-media">
          	<a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
           </div>

     </div>

  </div>
</div>

</body>




</html>
